{%extends "staff/view_food_list.html"%}
{%load static%}
{%block content%}


<h2>STAFF</h2>

<h2>MANAGE FOOD</h2>
<img src="{%static '/images/img8.jpg' %}" alt="portfolio image" style="height: 270px; width: 300px;"/>
<button style="font-size: 20px; background-color: rgb(9, 126, 221); color: black; border-radius: 10px;">ADD FOOD</button><br><br><br>
<img src="{%static '/images/img8.jpg' %}" alt="portfolio image" style="height: 270px; width: 300px;"/>
<button style="font-size: 20px; background-color: rgb(9, 126, 221); color: black; border-radius: 10px;">EDIT FOOD</button>


{%endblock%}