{%extends "view_page.html"%}
{%block content%}
<div class="container col-md-6 mx-auto mb-5 mt-5 p-5" style="border: 1px solid rgb(3, 52, 3);">
    <h2>Booking Form</h2>
    <form method="post">
        {% csrf_token %}
        <!-- Display room options -->
        <label for="room">Select Room:</label>
        <select name="room" id="room">
            {% for room_value, room_label in rooms_choice %}
                <option value="{{ room_value }}">{{ room_label }}</option>
            {% endfor %}
        </select>
        <br><br>
        <!-- Display bed options -->
        <label for="bed">Select Bed:</label>
        <select name="bed" id="bed">
            {% for bed_value, bed_label in beds_choice %}
                <option value="{{ bed_value }}">{{ bed_label }}</option>
            {% endfor %}
        </select>
        <br><br>
        <!-- Date input field -->
        <label for="date">Select Date:</label>
        <input type="date" id="date" name="date">
        <br><br>
        <button type="submit" style="background-color: rgb(6, 92, 66); color: aliceblue; padding: 7px;">Book Room</button>
    </form>
</div>
{%endblock%}
