{%extends "signup.html" %}
{%load static%}
{%block content%}

<style>

</style>




<div class="container">
  ><h2 style="text-align: center; color: black;">YOUR TICKET</h2>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-4 mb-4"> <!-- Adjust column size based on your requirement -->
      <div class="food-card border p-3">
        <div>
          {% for i in details %}
          <h4>TICKET NO:{{i.pk}}</h4>
          <h4>DATE BOOKED :{{i.date}}</h4>
          <h4>NO OF PASSES :{{i.count}}</h4>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}