{%extends "signup.html" %}
{%load static%}
{%block content%}



<div class="container" style="padding-top: 200px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="width: 400px; height: 400px; color: black; background-color: aqua; text-align: center; border: 2px black;">
            <h2 style="color: black; padding: 30px;">Book Your Ticket</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">NAME :</label>
                <input type="text" name="name" id=""><br><br>
                <label for="">AGE :</label>
                <input type="number" name="age" id=""><br><br>
                <label for="">PHONE NO :</label>
                <input type="number" name="phno" id=""><br><br>
                <label for="">DATE FOR BOOKING :</label>
                <input type="date" name="date" id=""><br><br>
                <label for="">NO OF PASSES :</label>
                <input type="number" name="count" style="width: 30px; height: 28px; border:2px solid black;  border-radius: 4px;" placeholder="1"><br><br>
                <h4>price : $1000</h4>
                <a href="{% url ''%}"><button type="submit" class="btn" style="background-color: blue; color: white; ">BOOK TICKET</button></a>
            </form>
            <div>
                {% for i in messages %}
                <h3 style="color: red;">{{i}}</h3>
                {% endfor %}
            </div>
        </div>
    </div>
</div>





{%endblock%}