{%extends "signup.html" %}
{%load static%}
{%block content%}




<div class="container" style="padding-top: 200px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>YOUR TICKET</h2>
              <div style="border: 2px;">
                {% for i in details %}
                <h2>TICKET NO: {{i.pk}}</h2>
                <h2>DATE BOOKED :{{i.date}}</h2>
                <h2>NAME :{{i.name}}</h2>
                <h2>AGE :{{i.age}}</h2>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>





{%endblock%}