{%extends "index.html" %}
{%load static%}
{%block content%}



</section><!-- /.discount-offer-->
<!--discount-offer end-->

<!--packages start-->
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                BOOK TICKETS
            </h2>
            <p>
                Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
            </p>
        </div><!--/.gallery-header-->
        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/regular.jpg'%}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Regular <span class="pull-right">₹1000</span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                   <a href="{%url 'book_ticket' %}">book now</a>
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/ckturistando-HTCQCvwV9XY-unsplash.jpg'%}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Youth(Below 18) <span class="pull-right">₹800</span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    <a href="{%url 'book_ticket' %}">book now</a>
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/kid.jpg'%}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Childrens(Below 3yrs)<span class="pull-right">Free</span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    <a href="{%url 'book_ticket' %}">book now</a>
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->







            </div><!--/.row-->
        </div><!--/.packages-content-->
    </div><!--/.container-->

</section><!--/.packages-->
<!--packages end-->





</section><!-- /.discount-offer-->
<!--discount-offer end-->

<!--packages start-->
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                ORDER FOOD
            </h2>
            <p>
                Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
            </p>
        </div><!--/.gallery-header-->
        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/jimmy-dean-Yn0l7uwBrpw-unsplash.jpg' %}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Breakfast<span class="pull-right"></span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    <a href="{%url 'food'%}">order now</a>
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/lily-banse--YHSwy6uqvk-unsplash.jpg' %}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Lunch <span class="pull-right"></span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    <a href="{%url 'food'%}">order now</a>
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg' %}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Dinner<span class="pull-right"></span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    <a href="{%url 'food'%}">order now</a>
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->







            </div><!--/.row-->
        </div><!--/.packages-content-->
    </div><!--/.container-->

</section><!--/.packages-->
<!--packages end-->


{%endblock%}