{%extends "index.html" %}
{%load static%}
{%block content%}

<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{%static '/images/regular.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Regular <span class="pull-right">₹1000</span></h5>
                    <p class="card-text">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>2544 review</span>
                    </p>
                </div>
                <div>
                    <button>
                        <button class="about-view packages-btn">
                            book now
                        </button>
                    </button>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{%static '/images/child.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Youth(Below 18) <span class="pull-right">₹800</span></h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div>
                    <button>
                        <button class="about-view packages-btn">
                            book now
                        </button>
                    </button>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{%static '/images/kid.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Childrens(Below 3yrs)<span class="pull-right">Free</span></h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div>
                    <button>
                        <button class="about-view packages-btn">
                            book now
                        </button>
                    </button>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div> -->







</section><!-- /.discount-offer-->
<!--discount-offer end-->

<!--packages start-->
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                BOOK TICKETS
            </h2>
            <p>
                Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
            </p>
        </div><!--/.gallery-header-->
        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/amy-perring-u2wFpXepZ1A-unsplash.jpg'%}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Regular <span class="pull-right">₹1000</span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/ckturistando-HTCQCvwV9XY-unsplash.jpg'%}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Youth(Below 18) <span class="pull-right">₹800</span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/thomas-stadler-r6LQc9feEZQ-unsplash.jpg'%}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Childrens(Below 3yrs)<span class="pull-right">Free</span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->







            </div><!--/.row-->
        </div><!--/.packages-content-->
    </div><!--/.container-->

</section><!--/.packages-->
<!--packages end-->





</section><!-- /.discount-offer-->
<!--discount-offer end-->

<!--packages start-->
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                ORDER FOOD
            </h2>
            <p>
                Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
            </p>
        </div><!--/.gallery-header-->
        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/jimmy-dean-Yn0l7uwBrpw-unsplash.jpg' %}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Breakfast<span class="pull-right"></span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    order now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/lily-banse--YHSwy6uqvk-unsplash.jpg' %}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Lunch <span class="pull-right"></span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    order now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{%static '/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg' %}" alt="package-place"
                            style="height: 200px; width: 400px;">
                        <div class="single-package-item-txt">
                            <h3>Dinner<span class="pull-right"></span></h3>

                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button class="about-view packages-btn">
                                    order now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->







            </div><!--/.row-->
        </div><!--/.packages-content-->
    </div><!--/.container-->

</section><!--/.packages-->
<!--packages end-->


{%endblock%}